[submodule "externals/ResolutionBuddy"]
	path = externals/ResolutionBuddy
	url = git@github.com:dmanning23/ResolutionBuddy.git
[submodule "externals/BasicPrimitiveBuddy"]
	path = externals/BasicPrimitiveBuddy
	url = git@github.com:dmanning23/BasicPrimitiveBuddy.git
